############# BOT INFO #############

clientId=
clientSecret=
token=
developerId=

############ DATABASE & OAUTH #############

mongodbURL=
REDIRECT_URI=http://localhost:3000/api/auth/callback
PORT=3000

############ CLAN INTAKE SETTINGS #############

CLAN_GUILD_ID=
CLAN_CATEGORY_ID=
CLAN_STAFF_ROLE_ID=
