############# BOT INFO #############

clientId=
clientSecret=
token=
developerId=

############ DATABASE & OAUTH #############

mongodbURL=
REDIRECT_URI=http://localhost:3000/api/auth/callback
PORT=3000
